.filter-box {
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 25px;
  height: 90%;
  position: relative;
  min-width: 150px;
  min-height: 510px;
}

.hotkey-box {
  border-radius: 10px;
  padding: 25px;
}

.hotkey-icon {
  position: relative;
  vertical-align: bottom;
  padding-right: 7px;
  height: 25px;
  width: 25px;
  top: 3px;
}
