.filter-box {
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 25px;
  height: 90%;
  position: relative;
  min-width: 150px;
  min-height: 510px;
  box-shadow: 0 0 5px 0 grey;
}

.hotkey-box {
  border-radius: 10px;
  padding: 25px;
}

.hotkey-icon {
  vertical-align: bottom;
  padding-right: 7px;
  color: black;
}
